body {
	padding: 0;
	margin: 0;
	color: white;
	overflow: hidden;
}

/* page */

.page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 4rem;
}

#p1 {
	background: url(vgdf-transformed.png) no-repeat
		center center/cover;
}
#p2 {
	background: url(Capturea.PNG) no-repeat center
		center/cover;
}

#p3 {
	background: url(sssss.PNG) no-repeat center
		center/cover;
}

#p4 {
	background: url(dda.PNG) no-repeat center
		center/cover;
	color: blue;
}

button {
	display: inline-block;
	font-size: 18px;
	background-image: linear-gradient(
		orange,
		green
	);
	padding: 15px 20px;
	border: none;
	cursor: pointer;
	border-radius: 50px;
}

#p3 button {
	display: inline-block;
	font-size: 18px;
	background-image: linear-gradient(
		green,
		rgb(31, 152, 106)
	);
	padding: 15px 20px;
	border: none;
	cursor: pointer;
	border-radius: 50px;
}

#p2 button {
	display: inline-block;
	font-size: 18px;
	background-image: linear-gradient(
		magenta,
		cyan
	);
	padding: 15px 20px;
	border: none;
	cursor: pointer;
	border-radius: 50px;
}

#p1 button {
	display: inline-block;
	font-size: 18px;
	background-image: linear-gradient(purple, navy);
	padding: 15px 20px;
	border: none;
	cursor: pointer;
	border-radius: 50px;
}

a {
	color: black;
}
